.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  overflow: hidden;
}

.overlayVisible {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);

  visibility: visible;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

  .basket-block {
    transform: translateX(0);
  }
}
.basket-block {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  padding: 30px;
  z-index: 2;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
h2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
img {
  cursor: pointer;
}
.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.basket-item {
  position: relative;
  min-height: 115px;
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0 10px 15px;
  overflow: hidden;

  .basket-gameconsole {
    width: 70px;
    height: 70px;
    margin-right: 20px;
  }
  p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  b {
    font-size: 15px;
  }
  .basket-item-price {
    margin-right: 40px;
  }
  .basket-remove {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.counter-basket {
  position: absolute;
  right: 80px;
  bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: end;

  img {
    width: 29px;
    height: 29px;
  }

  b {
    padding-left: 4px;
    padding-right: 4px;
  }
}

.basket-empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  .img-box {
    width: 220px;
  }

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenButton {
    position: relative;
    width: 245px;
    margin-top: 20px;
    height: 55px;
    background: #7284db;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: lighten(#7284db, 5%);
    }
    &:active {
      background: darken(#7284db, 5%);
    }
    &:disabled {
      animation: button-loading 0.8s ease-in-out infinite;
    }

    &:hover {
      img {
        transform: rotate(180deg) translate(3px);
        cursor: default;
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}

.basket-ul-block {
  ul {
    margin-bottom: 40px;
    
    li {
      display: flex;
      align-items: flex-end;
    }
    
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }

  .basket-ul-button {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }
  }
  .basket-ul-button {
    width: 100%;
    height: 55px;
    background: #7284db;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover {
      background: lighten(#7284db, 5%);
    }
    &:active {
      background: darken(#7284db, 5%);
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
